termproject/통합.dtd

<!ELEMENT 문화유산들 (문화유산+)>
<!ELEMENT 문화유산 (이름, 지정일, 시대, 장소, 사진, 내용, 종류)>
<!ELEMENT 이름 (#PCDATA)>
<!ELEMENT 지정일 (#PCDATA)>
<!ELEMENT 시대 (#PCDATA)>
<!ELEMENT 장소 (#PCDATA)>
<!ELEMENT 사진 EMPTY>
<!ATTLIST 사진 
file CDATA #REQUIRED
width CDATA #REQUIRED
height CDATA #REQUIRED>
<!ELEMENT 내용 (#PCDATA)>
<!ELEMENT 종류 (#PCDATA)>